*/__pycache__/*
*/build/*
*/dist/*
Anaconda3-2022.10-Linux-x86_64.sh
original_wind_dataset.csv
stan_circular_inference.egg-info
stan_circular_inference/src/datasets/processed_data.txt
stan_circular_inference/src/stan_circular_inference/examples/euromilhoes.py